
/*Footer*/
.footer-container-home {
    padding: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45vh;
    color: white;
    background-color: rgb(41, 37, 37);
}

.image-container-footer-home {
    display: flex;
    height: 6em;
}

.contact-us-container-footer-home {
    height: 45vh;
    display: flex;
    flex-direction: column;
}

.links-container-footer-home {
    position: relative;
    top: 44%;
}

.links-container-footer-home i {
    font-size: 21px;
    cursor: pointer;
    margin: 0 0 6px 0;
}

.clickable-links-a-footer-home {
    position: relative;
    top: 40%;
}

.mailing-address-footer-home {
    position: relative;
    top: 29%;
}