.main-container-home {
    /* border: 2px solid; */
}

/* .banner-div-home {
    border: 2px solid red;
} */

.banner-div-home img {
    width: 100%;
}

.men-women-kid-fashion-home {
    margin: 2em;
}

.heading-home {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #121212;
    font-size: 23px;
    opacity: 75%;
}

.heading-home h2 {
    font-weight: 400;
    margin-bottom: 1em;
}

.product-container-men {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container-women {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2em;
    height: fit-content;
}

.product-default-home {
    width: 21.5vw;
    padding: 10px;
    height: 79vh;
    background-color: #f3f3f3;
    margin-right: 20px;
    cursor: pointer;
}

.product-default-home img {
    width: 20.4vw;
    height: 50vh;
}

.product-default-home a {
    text-decoration: none;
    color: #121212;
}

.product-default-home a:hover {
    text-decoration: underline;
}

.product-default-home h3 {
    font-weight: 450;
    word-break: break-word;
}

.view-all-button-home {
    width: 9em;
    height: 3em;
    color: white;
    background-color: black;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin-top: 70px;
    transition: ease-in-out;
}

.view-all-button-home:hover {
    transform: scaleX(1.015);
    transform: scaleY(1.02);
}

.product-view-now-button-home {
    height: 5.6vh;
    width: 20.3vw;
    margin-top: 10px;
    cursor: pointer;
    transition: ease-in-out;
    border-width: 1px;
}

.product-view-now-button-home:hover {
    border-width: 2px;
}

.product-details {
    height: 68vh;
}

.product-details p {
    margin-top: 10px;
}
